/* <!-- 
Code is taken and modified from
https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy
https://www.w3schools.com/css/css_table.asp
--> */


#curhat {
  border-collapse: collapse;
  width: 100%;
}

/* Takes the sub tag of customer td and th and apply the style */
#curhat td, #curhat th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* for every tr which is a child of customers, if its defined on even order, set a different bg color */
#curhat tr:nth-child(even){
  background-color: #FDF8E2;
}

/* for every tr which is a child of customer, if hovered, change bg color */
#curhat tr:hover {
  background-color: #ddd;
}

/* eventhough above already has th, this will override or add to it */
/* extra note, padding is distance between element within with the container border */
#curhat th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

.curhat-container {
display: flex;
justify-content: center;
margin: 0rem 3rem 3rem 3rem;
}

.table {
background-color: #FDF8E2
}

body {
margin: 0;
font-family: "Open Sans", sans-serif;
}
