{% extends 'base.html' %}

{% load static %}

{% block title %}Pojok Curhat - reflekt.io{% endblock %}

{% block content %}

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Kolom Curhat</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

  <div class="button-div">
    <form class="form-curhat" action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" class="button">
    </form>
  </div>

{% endblock %}
