{% extends 'base.html' %}

{% load static %}

{% block title %}Pojok Curhat - reflekt.io{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/curhat.css' %}" /> 

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Curhatanmu</h1>
                <h3 id = "header_pc">Dalam Format Baru</h3>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

  <div class="cards" id="curhat_container">
  </div>


{% endblock %}
{% block script %}
<!-- Scripts -->
<script src="{% static 'js/pojok_curhat_js.js' %}"></script>
{% endblock %}