@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #222;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 44px;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
  font-size: 15px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: .5px;
  padding: .75rem 2rem;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: all .35s ease;
}

.btn:focus {
  outline: 0px;
  box-shadow: none;
}

.btn-main {
  background: #0b36a8;
  color: #fff;
  border-color: #0b36a8;
}

.btn-main:hover {
  border: 1px solid #24262a;
	background-color: transparent;
	color: #24262a;
}

.section {
  padding: 75px 0 65px;
}

.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  background: #24262a;
}

.page-title {
  padding: 120px 0px 70px 0px;
  position: relative;
}
.title-color {
  color: #24262a;
}

.section-title {
  margin-bottom: 50px;
}

.section-title h2 {
  color: #24262a;
}

.bg-about {
  background: url("../img/about-bg.jpg") center center no-repeat; 
  background-size: cover;
  position: relative;
}

.bg-contact {
  background: url("../img/contact-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.divider {
  width: 40px;
  height: 5px;
  background: #0b35a8c2;
}

.contact-form-wrap .form-group {
  margin-bottom: 20px;
}

.contact-form-wrap .form-group .form-control {
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
  background: #f4f9fc;
}

.contact-form-wrap .form-group .form-control:focus { 
  border-color: #66afe9;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 156, 250, 0.904);
}

.contact-form-wrap .form-group-2 {
  margin-bottom: 13px;
}

.contact-form-wrap .form-group-2 textarea {
  height: auto;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  background: #f4f9fc;
  width: 100%;
}

.contact-form-wrap .form-group-2 .form-control:focus { 
  border-color: #66afe9;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(93, 156, 250, 0.904);
}


.contact-block {
  text-align: center;
  border: 5px solid #EEF2F6;
  padding: 50px 25px;
}

.contact-block i {
  font-size: 50px;
  margin-bottom: 15px;
  display: inline-block;
  color: #0b36a8;
}

.about-block-item {
  text-align: center;
}

.about-block-item i {
  font-size: 50px;
  margin-bottom: 15px;
  display: inline-block;
  color: #0b36a8;
}

.team {
  line-height: 1px;
  font-size: 0.95rem;
}

.team-name {
  font-size: 1.1rem;
}