{% extends 'base.html' %}

{% load static %}

{% block title %}Add Journal{% endblock %}

{% block content %}
<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Add Journal</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Bagaimana harimu?</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <br>

        <div class="row">
            <div class="col-lg-12">
                
                <!-- Form -->
                <form id="journal-form" method="POST" action="">
                    {% csrf_token %}
                    <p>Perasaan apa saja yang sedang kamu rasakan?</p>
                    <div class="bulletless-form" id="feeling">
                        {{ form.feeling }}
                    </div>
                    <p>Dari mana datangnya perasaan tersebut?</p>
                    <div class="bulletless-form" id="factor">
                        {{ form.factor }}
                    </div>
                    <p>Seberapa cemaskah kamu?</p>
                    <div id="anxiety_rate">
                        {{ form.anxiety_rate }}
                    </div>
                    <br>
                    <p>Ayo sini, ceritakan harimu.</p>
                    <div id="summary">
                        {{ form.summary }}
                    </div>
                    <br>
                    <div>
                        <input class="btn-solid-lg" type="submit" data-toggle="modal" data-target="#success_tic" value="Submit"/>
                        <a class="btn-solid-lg right" href="{% url 'journal:index' %}">Kembali</a>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->
{% endblock %}