<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Kutipan Penyemangat Form</title>

  <link rel="stylesheet" href="{% static 'css/kutipan_penyemangat_form.css' %}" />
</head>

<body>
  <div id="form-main">
    <div id="form-div">
      <form method="POST" action="" class="register-form">
        {%csrf_token%}
        <div role="alert">
          <div id="wrapper">
            <section>
              <header>
                <div class="name">Nama</div>
                <div class="name">Kutipan</div>
              </header>
              <form>
                <div class="inputs">
                  {{form.name}}
                  {{form.quotes_form}}
                  <input type="submit" value="Add Notes" class="button"/>
                  <br>
                  <br>
                  <br>
                  <button><a class="btn btn-primary btn-lg btn-block" href="./" role="button">Kembali</a></button>
                </div>
              </form>
            </section>
            <div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>