<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block title %}Kutipan Penyemangat - reflekt.io{% endblock %}

{% block content %}

<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>List Kutipan Penyemangat Untukmu</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<link rel="stylesheet" href="{% static 'css/kutipan_penyemangat_index.css' %}" />
<body>
  <div class="cards">
    <div class="card card1">
      <div class="field">
        <h3>David Mitchell</h3>
        <br>
        <p>"You say you're 'depressed' - all I see is resilience. You are allowed to feel messed up and inside out. It
          doesn't mean you're defective - it just mean you're human."</p>
      </div>
    </div>

    <div class="card card2">
      <div class="field">
        <h3>Vince Lombardi</h3>
        <br>
        <p>"It's not whether you get knocked down, it's whether you get up."</p>
      </div>
    </div>

    <div class="card card3">
      <div class="field">
        <h3>Austin Butler</h3>
        <br>
        <p>"Depression and anxiety can't fit in your head if you're cultivating feelings of joy and inspiration."</p>
      </div>
    </div>

    <div class="card card1">
      <div class="field">
        <h3>Janet Fitch</h3>
        <br>
        <p>"Depression, suffering, and anger are all part of being human."</p>
      </div>
    </div>

    <div class="card card2">
      <div class="field">
        <h3>Albert Ellis</h3>
        <br>
        <p>"You largely constructed your depression. It wasn't given to you. Therefore, you can deconstruct it."</p>
      </div>
    </div>

    <div class="card card3">
      <div class="field">
        <h3>Arnold Bennett</h3>
        <br>
        <p> "The best cure for worry, depression, melancholy, brooding, is to go deliberately forth and try to lift with
          one's sympathy the gloom of some
          else."</p>
      </div>
    </div>

    <div class="card card1">
      <div class="field">
        <h3>Kobe Bryant</h3>
        <br>
        <p>"Everything negative - pressure, challenges - is all an opportunity for me to rise."</p>
      </div>
    </div>

    <div class="card card2">
      <div class="field">
        <h3>Helen Keller</h3>
        <br>
        <p>"Although the world is full of suffering, it is also full of the overcoming of it."</p>
      </div>
    </div>

    <div class="card card3">
      <div class="field">
        <h3>Aristotle</h3>
        <br>
        <p>"It is during our darkest moments that we must focus to see the light."</p>
      </div>
    </div>

    <div class="card card1">
      <div class="field">
        <h3>Audrey Hepburn</h3>
        <br>
        <p>"Nothing is impossible, the word itself says, 'I'm possible!'"</p>
      </div>
    </div>

    <div class="card card2">
      <div class="field">
        <h3>Nelson Mandela</h3>
        <br>
        <p>"The greatest glory in living lies not in never falling, but in rising every time we fall."</p>
      </div>
    </div>

    <div class="card card3">
      <div class="field">
        <h3>Maya Angelou</h3>
        <br>
        <p>"You will face many defeats in life, but never let yourself be defeated."</p>
      </div>
    </div>
  </div>

  
  <div class="cards">
    {% for i in quotes %}
    <div class="card card1">
      <div class="container">
        <div class="field">
          <h3>{{i.name}}</h3>
          <p>{{i.quotes_form}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  
  </div>
  <section id="add-form-section" class="add-form-section">
    <h2>Yuk, tambahin lagi Kutipan Penyemangat ini.</h2>
    <h2><a href="./add-quotes">Tambahkan Kutipanmu Di Sini</a></h2>
    <br>
    <br>
  </section>
  
</body>

{% endblock %}