{% extends 'base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about_us.css' %}">

<section class="page-title bg-about" id="about">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5" style="color: #fff;font-size: 3.75rem;">About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2 class="title-color" style="line-height:65px;">Jurnal kesehatan mental untuk kehidupan yang lebih sehat di masa pandemi</h2>
			</div>
			<div class="col-lg-8">
				<p style="font-size:15px;margin-top:2rem">
                    Kesehatan mental menjadi hal krusial untuk diperhatikan di tengah pandemi COVID-19 
                    yang tak kunjung membaik ini. Kami yakin bahwa hidup terasa semakin sulit dari hari ke hari setelah lebih 
                    dari satu tahun hidup di bawah ancaman virus corona dengan interaksi sosial yang terbatas. Dengan adanya 
                    keterbatasan ini, semakin banyak orang yang mengalami depresi dan frustasi karena mereka tidak lagi memiliki tempat 
                    untuk mencurahkan isi hatinya akibat canggung untuk berinteraksi dengan orang lain. Oleh karena itu, 
                    kami membuat aplikasi situs web bernama reflekt.io yang dapat menjadi tempat aman baru bagi semua orang. 
                    Aplikasi situs web ini memiliki berbagai fitur dapat membantu menjaga kesehatan mental kita 
                    di situasi sulit seperti ini. Kami berharap aplikasi situs web ini dapat membantu orang-orang untuk menjalani hidup dengan 
                    lebih mudah di masa pandemi ini.
                </p>
			</div>
		</div>
	</div>
</section>

<section>
    <div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="mb-4">Fitur - Fitur</h2>
					<div class="divider mx-auto my-4"></div>
				</div>
		    </div>
        </div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<h4 class="mb-3">Journaling</h4>
                    <i class="icofont-pencil-alt-1"></i>
					<p>Tempat pribadi bagi pengguna untuk mencurahkan pikiran dan emosi yang mereka rasakan di sepanjang hari.
                    Pada fitur ini, pengguna dapat membuat jurnal baru ataupun melihat jurnal yang sudah pernah dibuat.
                    </p>
				</div>
			</div>
            <div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<h4 class="mb-3">Ide Kegiatan</h4>
                    <i class="icofont-aim"></i>
					<p>Berisi rekomendasi aktivitas untuk meningkatkan ataupun menjaga kesehatan mental berdasarkan hasil penjurnalan pengguna.
                    Dengan adanya fitur ini, pengguna akan memiliki solusi sementara terhadap permasalahan yang sedang dihadapi.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<h4 class="mb-3">Pojok Curhat</h4>
                    <i class="icofont-ui-text-chat"></i>
					<p>Tempat pribadi bagi pengguna untuk mencurahkan semua pikiran dan emosi yang sedang menghantui mereka.
                    Pada fitur ini, pengguna dapat membuat berbagai curhatan dan hasilnya akan ditampilakan dalam bentuk tabel.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<h4 class="mb-3">Tembok Harapan</h4>
                    <i class="icofont-paper-plane"></i>
					<p>Tempat pribadi bagi pengguna untuk menuliskan semua keinginan yang ingin mereka capai.
                    Fitur ini akan menjadi pengingat sekaligus penyemangat bagi pengguna untuk terus berusaha mencapai 
                    segala keinginan mereka.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="about-block-item">
					<h4 class="mb-3 mt-3">Kutipan Penyemangat</h4>
                    <i class="icofont-quote-left"></i>
					<p>Tempat bagi pengguna untuk mengirimkan kutipan penyemangat yang nantinya akan dipublikasikan ke publik.
                    Dengan adanya fitur ini, para pengguna diharapkan dapat saling menguatkan sesamanya
                     agar tetap bisa bertahan di masa sulit ini.</p>
				</div>
			</div>
            <div class="col-lg-3 col-md-6">
				<div class="about-block-item mb-5 mb-lg-0">
					<h4 class="mb-3 mt-3">Deteksi Dini Depresi</h4>
                    <i class="icofont-search-2"></i>
					<p>Alat yang membantu pengguna untuk mengetahui apakah mereka sedang mengalami depresi atau tidak.
                    Fitur ini berisi kuesioner mengenai perilaku dan perasaan pengguna. Hasil kuesioner akan digunakan untuk proses diagnosis. </p>
				</div>
			</div>
		</div>
    </div>
</section>

<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="mb-4">Tim Kami</h2>
					<div class="divider mx-auto my-4"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <img src="{% static 'img/person.jpg' %}" class="img-fluid w-100">
                <div>
                    <h4 class="team-name mt-1">Aurelia Amanda Robert</h4>
                    <p class="team">Pengembang</p>
                </div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <img src="{% static 'img/person.jpg' %}" class="img-fluid w-100">
                <div>
                    <h4 class="team-name mt-1">Kevin</h4>
                    <p class="team">Pengembang</p>
                </div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <img src="{% static 'img/person.jpg' %}" class="img-fluid w-100">
                <div>
                    <h4 class="team-name mt-1">Loanda Gunawan</h4>
                    <p class="team">Pengembang</p>
                </div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <img src="{% static 'img/person.jpg' %}" class="img-fluid w-100">
                <div>
                    <h4 class="team-name mt-1">Muhammad Athallah</h4>
                    <p class="team">Pengembang</p>
                </div>
			</div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <img src="{% static 'img/person.jpg' %}" class="img-fluid w-100">
                <div>
                    <h4 class="team-name mt-1">Muhammad Bintang Azriel Aditya Wardhana</h4>
                    <p class="team">Pengembang</p>
                </div>
			</div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <img src="{% static 'img/person.jpg' %}" class="img-fluid w-100">
                <div>
                    <h4 class="team-name mt-1">Muhammad Fikri Haryanto</h4>
                    <p class="team">Pengembang</p>
                </div>
			</div>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                <img src="{% static 'img/person.jpg' %}" class="img-fluid w-100">
                <div>
                    <h4 class="team-name mt-1">Teuku Faiz Aryasena</h4>
                    <p class="team">Pengembang</p>
                </div>
            </div>
		</div>
	</div>
</section>

<section class="page-title bg-contact" id="contact">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
        <span class="text-white">Kontak</span>
          <h1 class="text-capitalize mb-5" style="color: #fff;font-size: 50px;">Hubungi Kami</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section pb-0">
    <div class="container">
         <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-live-support"></i>
                    <h5>Telepon</h5>
                     +6281-2345-6789
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-support-faq"></i>
                    <h5>Surel</h5>
                     reflektio@ui.ac.id 
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0">
                    <i class="icofont-location-pin"></i>
                    <h5>Lokasi</h5>
                    Fakultas Ilmu Komputer,
                    <br>
                    Universitas Indonesia
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-form-wrap section" style="padding-top:40px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 style="font-size:40px;">Kami akan senang mendengar dari Anda</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Baik Anda memiliki pertanyaan maupun saran untuk pengembangan ke depannya —  
                    kami akan siap untuk menjawab dan menampung semuanya.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form id="contact-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{form.full_name}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{form.email}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{form.query_topic}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{form.phone_number}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        {{form.message}}
                    </div>
                    <div class="text-center">
                        <input class="btn btn-main" name="submit" type="submit" value="Kirim Pesan"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    $(document).on('submit', '#contact-form', function(e) {
        e.preventDefault();
        var form = $("#contact-form");

        $.ajax({
            url:'',
            type: 'POST',
            data: form.serialize(),
            dataType: 'json',
            header: {'X-CSRFToken': '{% csrf_token %}'},
            success: function(response) {
                var success = response['success']
                if(success){
                    Swal.fire({
                        icon: 'success',
                        title: 'Terima kasih!',
                        text: 'Pesan Anda sudah terkirim',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#0b36a8',
                    })

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Upss...',
                        text: 'Form yang Anda isi tidak valid!',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#0b36a8',
                    })
                }
                document.getElementById("contact-form").reset();
            },
            failure: function(response) {
                Swal.fire({
                        icon: 'error',
                        title: 'Upss...',
                        text: 'Terjadi error',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#0b36a8',
                    })
            }
        })
    })
</script>

{% endblock script %}

